<nav>step1 > step2 > step3 > step4</nav>
<br />
<p>会社情報を入力してください</p>
<%= form_for @company, :url => entry_step2_index_path do |f|-%>
  <p><label><%= f.label :name %></label>
  <%= f.fields_for @admin do |admin| -%>
    <p>個人情報保護責任者</p>
    <p><%= f.label :name -%></p>
  <%- end -%>
  <%= f.text_field :email, :type => :email %> </p>
  <p><%= f.submit "登録" -%></p>
<%- end -%>

