<div>
  <%= form_tag session_path, :method => :post do %>
    <table>
      <tr>
        <td>メールアドレス</td>
        <td><%= text_field_tag :email, '' ,:size => '60' %></td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td><%= password_field_tag :password, '' ,:size => '60' %></td>
      </tr>
      <tr>
      <td colspan="2" align="center">
        <%= submit_tag 'Login' %>
      </td>
    </table>
    <table>
      <tr>
        <td><%= link_to '新規登録', new_entry_path %></td>
        <td><%= link_to 'パスワードを忘れた方', remined_entry_path %></td>
      </tr>
    </table>
  <% end %>
</div>
