<% const = @schedule.class::CONST %>

<script type="text/javascript">
<!--
  $(document).ready(function(){
    loop = $('#loop option:selected').val();
    $("#loop_canvas").load("/schedules/loops?type=" + loop + "&id=<%= @schedule.id %>");

    $('#loop').bind('change', function() {
      loop = $('#loop option:selected').val();
      $("#loop_canvas").empty;
      $("#loop_canvas").load("/schedules/loops?type=" + loop + "&id=<%= @schedule.id %>");
      close_cal();
    });
  });

//-->
</script>

<%= form_for @schedule, :url => save_action(@schedule) do |f| %>
  <input type="hidden" name="schedule_<%= @schedule.class::CONST %>[owner_id]" value="<%= current_user.id %>" />
  <table>
    <thead>
      <tr>
        <td>予定の登録</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>
            <%= f.label :title %>
            <%= f.text_field :title %>
          </p>
          <p>
            <%= f.label :start %>
            <select name="schedule_<%= const %>[start_year]"><%= raw(simple_selectbox 2011..2015, @start_year) %></select>
            <select name="schedule_<%= const %>[start_month]"><%= raw(simple_selectbox 1..12, @start_month) %></select>
            <select name="schedule_<%= const %>[start_day]"><%= raw(simple_selectbox 1..31, @start_day) %></select>
            <select name="schedule_<%= const %>[start_hour]"><%= raw(simple_selectbox 0..23, @start_hour) %></select>
            <select name="schedule_<%= const %>[start_minute]"><%= raw(minute_selectbox) %></select>
            &nbsp;
            &nbsp;
            終日 <%= f.check_box :all_day %>
          </p>
          <p>
           <%= f.label :end %>
           <select name="schedule_<%= const %>[end_year]"><%= raw(simple_selectbox 2011..2015, @end_year) %></select>
           <select name="schedule_<%= const %>[end_month]"><%= raw(simple_selectbox 1..12, @end_month) %></select>
           <select name="schedule_<%= const %>[end_day]"><%= raw(simple_selectbox 1..31, @end_day) %></select>
           <select name="schedule_<%= const %>[end_hour]"><%= raw(simple_selectbox 0..23, @end_hour) %></select>
           <select name="schedule_<%= const %>[end_minute]"><%= raw(minute_selectbox) %></select>
          </p>
          <p>
            くり返し予定&nbsp;
            <%= raw(loop_selectbox @schedule) %>
          </p>
          <div id="loop_canvas"></div>
          <p>
            <%= f.label :memo %>
            <%= f.text_field :memo %>
          </p>
        </td>
        <td>
          <p>
            <% @users.each do |u| %>
              <% unless current_user.id == u.id %>
                <p>
                  <% if ::Relations::UsersSchedule.joind? u.id, @schedule.id %>
                    <input type="checkbox" name="users[]" value="<%= u.id %>" checked><%= u.name %>
                  <% else %>
                    <input type="checkbox" name="users[]" value="<%= u.id %>"><%= u.name %>
                  <% end %>
                </p>
              <% end %>
            <% end %>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <% if @schedule.new_record? %>
            <%= f.submit "登録する" %>
            <%= link_to '登録しないで戻る', dashboard_path %>
          <% else %>
            <% if @schedule.class::CONST == ::Schedule::NoLoop::CONST %>
              <%= submit_tag "編集する", :name => 'update_mine' %>
            <% else %>
              <%= submit_tag "この予定のみ編集する", :name => 'update_mine' %>
              <%= submit_tag "この予定功を編集する", :name => 'update_after' %>
              <%= submit_tag "くり返し予定を編集する", :name => 'update_all' %>
            <% end %>
            <%= link_to '変更しないで戻る', dashboard_path %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
