<script type="text/javascript">
<!--
  $(document).ready(function(){

    //リッチフォームの設定
    fp = new FormPresenter(
      '/assets/check.png',
      {
        company_name: {
          event: "keyup",
          normal_css: [ "background-color: #ffffff" ],
          highlight_css: [ "background-color: #ffcccc" ],
          validations: [
            { type: "not_null", msg: "" }
          ],
          place_holder: {
            msg: "ご担当者名を入力してください。",
            css: [ "color: #333333"]
          }
        },
        company_address: {
          event: "keyup",
          normal_css: [ "background-color: #ffffff" ],
          highlight_css: [ "background-color: #ffcccc" ],
          validations: [
            { type: "not_null", msg: "" }
          ],
          place_holder: {
            msg: "会社の住所を入力してください。",
            css: [ "color: #333333"]
          }
        },
        company_user_administrator_name: {
          event: "keyup",
          normal_css: [ "background-color: #ffffff" ],
          highlight_css: [ "background-color: #ffcccc" ],
          validations: [
            { type: "not_null", msg: "" }
          ],
          place_holder: {
            msg: "お名前を入力してください。",
            css: [ "color: #333333"]
          }
        },
        company_user_administrator_email: {
          event: "keyup",
          normal_css: [ "background-color: #ffffff" ],
          highlight_css: [ "background-color: #ffcccc" ],
          validations: [
            { type: "email_format", msg: "" }
          ],
          place_holder: {
            msg: "メールアドレスを入力してください。",
            css: [ "color: #333333" ]
          }
        },
        company_user_administrator_password: {
          event: "keyup",
          normal_css: [ "background-color: #ffffff" ],
          highlight_css: [ "background-color: #ffcccc" ],
          validations: [
            { type: "not_null", msg: "" }
          ]
        },
        company_user_administrator_password_confirmation: {
          event: "keyup",
          normal_css: [ "background-color: #ffffff" ],
          highlight_css: [ "background-color: #ffcccc" ],
          validations: [
            { type: "not_null", msg: "" }
          ]
        }
        /* 現在FormPresenterは、checkbox,selectbox,raioに対応していない。
        company_user_administrator_sex: {
          event: "click",
          normal_css: [ "background-color: #ffffff" ],
          highlight_css: [ "background-color: #ffcccc" ],
          validations: [
            { type: "checked", msg: "" }
          ]
        }
        company_user_administrator_birthday: {
          event: "keyup",
          normal_css: [ "background-color: #ffffff" ],
          highlight_css: [ "background-color: #ffcccc" ],
          validations: [
            { type: "not_null", msg: "" }
          ]
        }
        */
      }
    ).load().event_watch();
  });

//-->
</script>

<% if @company.errors.present? || @admin.errors.present? %>
  <div id="error_explanation">
    <ul>
      <% @company.errors.full_messages.each do |msg| %>
      <li><span class="red"><%= msg %></span></li>
      <% end %>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><span class="red"><%= msg %></span></li>
       <% end %>
    </ul>
  </div>
<% end %>

<h2>会員登録</h2>
<%= form_for @company, :url => users_entry_path do |f| %>
  <table class="input_base">
    <thead>
      <tr><th colspan="4">会社情報</th></tr>
    </thead>
    <tbody>
      <tr>
        <th>会社名</th>
        <td class="required"><div class="required">必須</div></td>
        <td><%= f.text_field :name, :class => :input_text -%></td>
        <td><div id="notice_company_name"></div></td>
      </tr>
      <tr>
        <th>住所</th>
        <td class="required"><div class="required">必須</div></td>
        <td><%= f.text_field :address, :class => :input_text -%></td>
        <td><div id="notice_company_address"></div></td>
      </tr>
    </tbody>
  </table>
  <br />
  <table class="input_base">
    <thead>
      <tr><th colspan="4">個人情報保護責任者情報</th></tr>
    </thead>
    <tbody>
    <%= f.fields_for @admin, :admin  do |admin|-%>
      <tr>
        <th>名前</th>
        <td class="required"><div class="required">必須</div></td>
        <td><%= admin.text_field :name, :class => :input_text -%></td>
        <td><div id="notice_company_user_administrator_name"></div></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td class="required"><div class="required">必須</div></td>
        <td><%= admin.text_field :email, :class => :input_text -%></td>
        <td><div id="notice_company_user_administrator_email"></div></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td class="required"><div class="required">必須</div></td>
        <td><%= admin.password_field :password, :class => :input_text -%></td>
        <td><div id="notice_company_user_administrator_password"></div></td>
      </tr>
      <tr>
        <th>パスワード(確認)</th>
        <td class="required"><div class="required">必須</div></td>
        <td><%= admin.password_field :password_confirmation, :class => :input_text -%></td>
        <td><div id="notice_company_user_administrator_password_confirmation"></div></td>
      </tr>
      <%= admin.fields_for :profile_attributes, @admin.build_profile  do |profile| -%>
        <tr>
          <th>部署</th>
          <td class="required"></td>
          <td><%= profile.text_field :section, :class => :input_text -%></td>
          <td></td>
        </tr>
        <tr>
          <th>肩書き</th>
          <td class="required"></td>
          <td><%= profile.text_field :position, :class => :input_text -%></td>
          <td></td>
        </tr>
        <tr>
          <th>性別</th>
          <td class="required"><div class="required">必須</div></td>
          <td>
            <%- [["男","1"],["女", "2"]].each  do |opt| -%>
	      <%= opt.first %>
              <%= profile.radio_button :sex, opt.last, :required => true %>
            <%- end -%>
          </td>
          <td><div id="notice_company_user_administrator_sex"></div></td>
        </tr>
        <tr>
          <th>誕生日</th>
          <td class="required"><div class="required">必須</div></td>
          <td><%= profile.date_select :birthday %></td>
          <td><div id="notice_company_user_administrator_birthday"></div></td>
        </tr>
        <%- end -%>
      </tbody>
    <%- end -%>
  </table>
  <%= hidden_field_tag :master_id, params[:master_id] if params[:master_id].present? %>
  <div id="none_button" style="display : none;">
    <input type="button" value="登録する" disabled />
  </div>
  <div id="send_button" style="display : none;">
    <input type="submit" value="登録する" />
  </div>
<%- end -%>
