<%= form_for @approval, :url => workflows_managements_accept_path(@approval) do |f| -%>
<div id="preview">
<p>
  <b>ユーザー名:</b>
  <%= @approval.user.name %>
</p>
<p>
  <b>申請日:</b>
  <%= @approval.created_at.to_s(:jp) %>
</p>

<p>
  <b>申請書:</b>
  <%= @approval.approval_form.title %>
</p>

<table>
  <% @approval.fields.each do |af| %>
    <tr>
      <td><%= af.approval_form_field.title %></td>
      <td><%= af.value %></td>
    </tr>
  <% end %>
</table>
<%- unless @approval.read_only?(current_user) -%>
<p>
<b>承認:</b>
<% checked = @approval.accepted?(current_user) ? "checked" : nil %>
<%= check_box_tag :accept, "", checked %>
</p>
<%= f.submit "承認する" -%>
<%- end -%>
<%- end -%>
<div align="center">
  <h3>この申請書は以下のフローで承認されます。</h3>
  <p><%= @approval.approval_form.workflow_templates.map{|wt| C.user_type.disp(wt.user_type) }.join(" > ") %></p>
  <br/>
  <h3>承認状態</h3>
        <% @approval.workflows.each do |wf| %>
          <p>ステップ: <%= wf.step %>, 承認者: <%= C.user_type.disp(wf.user_type) %>, 状態: <%= wf.accept ? "承認済み" : "未承認" %></p>
        <%- end -%>
</div>
</div>
<%= link_to '承認しないで戻る', workflows_managements_accepts_path %>
