<div id="entry">
  <br />
  <!-- #TODO:yokohama バリデーションの実装 -->
<% if @user.errors.present? %>
<div id="error_explanation">
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><span class="red"><%= msg %></span></li>
    <% end %>
  </ul>
</div>
<% end %>
<h3><%= @company.name -%>から招待状が届いています</h3>
<h4>ユーザータイプ(#TODO仮文言):<%= C.user_type.disp(@token.user_type) %></h4>
  <p>ユーザー情報を入力してください</p>
  <%= form_for @user, :url => users_invitation_register_path do |f| %>
      <table>
      <tr>
        <td>名前</td>
        <td><%= f.text_field :name, :size => '16', :required => true %></td>
        <td></td>
      </tr>
      <%= f.fields_for :profile_attributes  do |profile| -%>
      <tr>
        <td>部署</td>
        <td><%= profile.text_field :section, :size => '16', :required => true %></td>
        <td>部署名（必須)</td>
      </tr>
      <tr>
        <td>肩書き</td>
        <td><%= profile.text_field :position, :size => '16' %></td>
        <td>肩書きを入力してください</td>
      </tr>
      <tr>
        <td>性別</td>
        <td>
          <%- [["男","1"],["女", "2"]].each  do |opt| -%>
	    <%= opt.first %>
            <%= profile.radio_button :sex, opt.last, :required => true %>
          <%- end -%>
        </td>
        <td>(必須)</td>
      </tr>
      <tr>
        <td>誕生日</td>
        <td><%= profile.date_select :birthday %></td>
        <td></td>
      </tr>
      <%- end -%>
      <tr>
        <td>パスワード</td>
        <td><%= f.password_field :password, :size => '16', :required => true %></td>
        <td>半角英数で6文字以上</td>
      </tr>
      <tr>
        <td>パスワード（確認用）</td>
        <td><%= f.password_field :password_confirmation, :size => '16', :required => true %></td>
        <td>半角英数で6文字以上</td>
      </tr>
    </table>
    <%= hidden_field_tag :code, @token.code %>
    <br />
    <center><%= f.submit '登録' %></center>
  <% end %>
  <br />
  <br />
</div>
