<div id="entry">
  <br />
  <!-- #TODO:yokohama バリデーションの実装 -->
  <% if @user.errors.present? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><span class="red"><%= msg %></span></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2>ユーザー編集</h2>
  <p>ユーザー情報を入力してください</p>
  <%= form_for @user, :url => user_path(@user) do |f| %>
    <table class="input_base">
      <%- if roll_change? && current_user.class::EditTargets.include?(@user.class) -%>
        <tr>
          <td class="title">権限</td>
          <td><%= f.select :roll, formatted_roll_options(current_user.class::RollOptions), :required => true %></td>
          <td></td>
        </tr>
      <%- end -%>
      <tr>
        <td class="title">名前</td>
        <td><div class="required">必須</div></td>
        <td><%= f.text_field :name, :required => true, :class => :text %></td>
        <td></td>
      </tr>
      <%= f.fields_for :profile_attributes, @user.profile  do |profile| -%>
      <tr>
        <td class="title">部署</td>
        <td></td>
        <td><%= profile.text_field :section, :class => :text, :value => @user.profile.section %></td>
      </tr>
      <tr>
        <td class="title">肩書き</td>
        <td></td>
        <td><%= profile.text_field :position, :class => :text, :value => @user.profile.position %></td>
      </tr>
      <tr>
        <td class="title">性別</td>
        <td><div class="required">必須</div></td>
        <td>
          <%- [["男","1"],["女", "2"]].each  do |opt| -%>
	    <%= opt.first %>
            <%= profile.radio_button :sex, opt.last, :required => true %>
          <%- end -%>
        </td>
      </tr>
      <tr>
        <td class="title">誕生日</td>
        <td><div class="required">必須</div></td>
        <td><%= profile.date_select :birthday, :value => @user.profile.birthday %></td>
      </tr>
      <tr>
        <td class="submit" colspan="3">
          <div id="send_button" class="button">
            <input type="submit" value="プロフィールを変更する" />
          </div>
        </td>
      </tr>
    <%- end -%>
  </table>
  <br />
  <br />
  <%- if me?(@user) -%>
    <table class="input_base">
      <tr>
        <td class="title">パスワード</td>
        <td><div class="required">必須</div></td>
        <td><%= f.password_field :password, :class => :text %></td>
        <td>半角英数で6文字以上</td>
      </tr>
      <tr>
        <td class="title">パスワード（確認用）</td>
        <td><div class="required">必須</div></td>
        <td><%= f.password_field :password_confirmation, :class => :text %></td>
        <td>半角英数で6文字以上</td>
      </tr>
      <tr>
        <td class="submit" colspan="4">
          <div id="send_button" class="button">
            <input type="submit" value="パスワードを変更する" />
          </div>
        </td>
      </tr>
    </table>
  <%- end -%>
  <br />
  <br />
  <% end %>
  <%- if me?(@user) -%>
    <%= form_for @user, :url => users_email_path, :method => :post do |f| -%>
      <table class="input_base">
        <tr>
          <td class="title">メールアドレス</td>
          <td><div class="required">必須</div></td>
          <td><%= text_field_tag :email, @user.email, :class => :text, :maxlength => 40, :type => :email, :required => true -%></td>
          <td>有効なメールアドレスを入力してください</td>
        </tr>
        <tr>
          <td class="submit" colspan="4">
            <div id="send_button" class="button">
              <input type="submit" value="メールアドレスを変更する" />
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>
<br />
<br />
</div>
