<%= form_for(r, :url => (r.new_record? ? workflows_managements_path : workflows_management_path(r)), :html => {:id => 'form'}) do |f| %>
  <div class="paper">
    <div class="paper_inner">
        <input class='input_text' 
               type='text' 
               id='report_name' 
               name='approval_form[title]' 
               value="<%= r.title %>" 
               title='(※必須)レポートのタイトルを入力してください。' />
      <hr />
      <br />
<!--
      <div align='center'>
        <input class='input_text' 
               type='text' 
               id='header_text' 
               name='approval_form[header_text]' 
               value="<%= r.header_text %>"
               title='この位置に表示させたいメッセージを入力してください。' />
-->
      </div>
      <br />
      <p></p>
      <p></p>
      <div id="print_field"></div>
      <br />
<!--
      <div align='center'>
        <input class='input_text' 
               type='text' 
               id='fotter_text' 
               name='approval_form[fotter_text]' 
               value="<%= r.fotter_text %>"
               title='この位置に表示させたいメッセージを入力してください。' />
-->
      </div>
      <br />
      <hr />
      <br />
      <div class='field'>
        <div id='field_title'>
          <textarea id="field_title_textarea" title='フォーム名や質問内容と、その回答形式を入力してください。'></textarea>
        </div>
        <div id='field_type'>
          <select id='field_type_selected'>
            <option value="text">テキスト</option>
            <option value="textarea">テキストエリア</option>
            <option value="select">セレクト</option>
            <option value="radio">ラジオボタン</option>
            <option value="checkbox">チェックボックス</option>
            <option value="date">日付</option>
            <option value="date-date">日付〜日付</option>
            <option value="hour">時間</option>
            <option value="hour-hour">時間〜時間</option>
            <option value="birthday">誕生日</option>
          </select>
          <input type="text" id="elements" title='要素をカンマ(,)区切りで入力してください。' />
        </div>
        <div id='field_icon'>
          <a href="#" id="add_field"><%= image_tag "s_add.png" %></a>
        </div>
      </div>
    </div>
  </div>
  <div id='hidden'></div>
  <br />
  <%= render :partial => 'workflow_form', :locals => {:f => f} %>
  <div id="send_button"></div>
<% end %>
