<div id='preview_notice'>
  <p>この画面はプレビュー画面です。この画面からは回答できません。</p>
</div>
<br />

<div id='paper'>
<div id='paper_inner'>
  <div align='center'><h2><%= @report.title %></h2></div>
  <hr />
  <br />
  <div align="center"><%= @report.header_text %></div>
  <br />
  <%= render :partial => 'fields', :locals => {:r => @report} %> 
  <div align="center"><%= @report.fotter_text %></div>
  <br />
</div>
</div>
<div align="center">
  <h3>この申請書は以下のフローで承認されます。</h3>
  <p><%= @report.workflow_templates.map{|wt| C.user_type.disp(wt.user_type) }.join(" > ") %></p>
</div>
<br />
<br />
<br />
