<section class="entry input-code">
<h2>１）既にPマークを取得済みの方はお手元の登録コード、または会社名を入力してください</h2>
<%= form_for :pmark, :url => users_entry_search_index_path do |f| -%>
  <h3>★登録コードから検索する</h3>
  <table>
    <tr>
      <td width="200">
        <p>登録コード</p>
        <p>例）10000000(06)</p>
      </td>
      <td width="200">
        <%= text_field_tag :code, "", :required => true -%>
        (<%= text_field_tag :suffix, "", :required => true, :maxlength => 2, :style => "width:15px" %>)
      </td>
      <td width="100"><%= f.submit "登録コードから検索" -%></td>
    </tr>
  </table>
<%- end -%>
</section>

<section class="entry input-name">
<%= form_for :pmark, :url => users_entry_search_index_path do |f| -%>
  <h3>★会社名から登録する</h3>
  <table>
    <tr>
      <td width="200">
        <p>会社名</p>
        <p>例）株式会社Railstar</p>
      </td>
      <td width="200"><%= text_field_tag :name, "", :required => true -%></td>
      <td width="100"><%= f.submit "会社名から検索" -%></td>
    </tr>
  </table>
<%- end -%>
<section>

<section class="result">
<%- if flash[:notice].present? -%>
  <p>見つかりませんでした</p>
<%- end -%>

<%- if @result.present? -%>
  <br/>
  <table class='base'>
    <summary>検索結果一覧</summary>
    <thead>
      <tr>
      <th>登録コード</th>
      <th>会社名</th>
      <th>住所</th>
      <th>満了期限</th>
      <th>認定機関</th>
      <th>JIS規格</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%- @result.each do |r| -%>
      <tr>
        <th><%= r.code -%></th>
        <th><%= r.name -%></th>
        <th><%= r.address -%></th>
        <th><%= r.expiration_date -%></th>
        <th><%= r.agency -%></th>
        <th><%= r.jis_code -%></th>
        <th><%= link_to "この情報で作成", new_users_entry_path(:master_id => r.id)  -%></th>
      </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>
</section>

<section class="without-pmark">
<h2>２）これからPマークを取得しようと思っている方はこちらから</h2>
<section>
<h3><%= link_to "こちら", new_users_entry_path %>から会社情報を登録してください。</h3>
</section>
</section>
