<script type="text/javascript">
<!--

  $(document).ready(function(){
  
    $("#dialog").dialog({
      bgiframe : true,
      autoOpen : false,
      width : '520px',
      modal : false
    });

    $("input[class='cal_print']").click(function(){
      now = new Date();
      prev = new Date();
      prev.setMonth(now.getMonth()-1);
      next = new Date();
      next.setMonth(now.getMonth()+1);

      html = "<table>"
      html += "<tr>"
      html += "<td valign='center' height='200'><a href='#' onclick='shift_cal(" + prev.getFullYear() + ", " + prev.getMonth() + ", \"" + this.id + "\");'><<</a></td>"
      html += "<td valign='top' height='200'>" + create_cal(prev, this.id) + "</td>"
      html += "<td valign='top' height='200'>" + create_cal(now, this.id) + "</td>"
      html += "<td valign='top' height='200'>" + create_cal(next, this.id) + "</td>"
      html += "<td valign='center' height='200'><a href='#' onclick='shift_cal(" + next.getFullYear() + ", " + next.getMonth() + ", \"" + this.id + "\");'>>></a></td>"
      html += "</tr>"
      html += "</table>"
      $("#cal").html(html)
      $("#dialog").dialog('open')
    });

  });

  function print_date(field_id, date) {
    $("#" + field_id).val(date);
    $("#dialog").dialog('close')
  }

  function shift_cal(year, month, id) {
    now = new Date(year, month, 1)
    prev = new Date(year, month, 1)
    prev.setMonth(now.getMonth()-1);
    next = new Date(year, month, 1)
    next.setMonth(now.getMonth()+1);

    html = "<table>"
    html += "<tr>"
    html += "<td valign='center' height='200'><a href='#' onclick='shift_cal(" + prev.getFullYear() + ", " + prev.getMonth() + ", \"" + id + "\");'><<</a></td>"
    html += "<td valign='top' height='200'>" + create_cal(prev, id) + "</td>"
    html += "<td valign='top' height='200'>" + create_cal(now, id) + "</td>"
    html += "<td valign='top' height='200'>" + create_cal(next, id) + "</td>"
    html += "<td valign='center' height='200'><a href='#' onclick='shift_cal(" + next.getFullYear() + ", " + next.getMonth() + ", \"" + id + "\");'>>></a></td>"
    html += "</tr>"
    html += "</table>"
    $("#cal").html(html)
    $("#cal_month").text(month)
  }

  function create_cal(d, id) {
    year = d.getFullYear();
    month = d.getMonth();
    day = 1;
    leap_year = false;

    if ((year%4 == 0 && year%100 != 0) || (year%400 == 0)) leap_year=true;
    lom = new Array(31,28+leap_year,31,30,31,30,31,31,30,31,30,31);
    dow = new Array("日","月","火","水","木","金","土");
    days = 0;
    for (var i=0;i<month;i++) days += lom[i];
    week = Math.floor((year*365.2425+days)%7);
    j = 0;
    when = year + "年 " + (month+1) + "月";
    calendar = "<table>"
    calendar += "<caption>" + when + "</caption><tr>";
    for (i=0;i<7;i++) calendar += "<td>"+dow[i]+"</td>";
    calendar += "</tr><tr>";
    for (i=0;i<week;i++,j++) calendar += "<td></td>";
    for (i=1;i<=lom[month];i++) {
      calendar += "<td><a href='#' id='" + id + "' name=" + year + "/" + (month+1) + "/" + i + " class='cal_click' onclick='print_date(id, name);'>" + i + "</a></td>";
      j++;
      if (j > 6) { 
        calendar += "</tr><tr>";
        j = 0;
      }
    }
    for (i=j;i>6;i++) calendar += "<td></td>";
    calendar += "</tr></table>";
    return calendar;
  }

//-->
</script>

<% r.fields.each do |f| %>
  <% elements = f.item.split("|") unless f.item.nil? %>
  <div class='field'>
    <div id='field_title'><%= f.title %></div>
    <div id='field_html'>
      <% if f.form_type == 'text' %>
        <input id="print_field_text" type='text' name="field[<%= f.id %>]" value="<%= elements.nil? ? '' : elements[0] %>" size='80' />
      <% elsif f.form_type == 'textarea' %>
        <textarea id="print_field_textarea" name="field[<%= f.id %>"]><%= elements.nil? ? "" : elements[0] %></textarea>
      <% elsif f.form_type == 'select' %>
        <select name="field[<%= f.id %>]">
          <% elements.each do |e| %>
            <% if /^\*/ =~ e %>
              <% e = e.sub(/^\*/, "") %>
              <option value="<%= e %>" selected><%= e %></option>
            <% else %>
              <option value="<%= e %>"><%= e %></option>
            <% end %>
          <% end %>
        </select>
      <% elsif f.form_type == 'radio' %>
        <% elements.each do |e| %>
          <% if /^\*/ =~ e %>
            <% e = e.sub(/^\*/, "") %>
            <input type='radio' name="field[<%= f.id %>]" value="<%= e %>" checked/><%= e %>
          <% else %>
            <input type='radio' name="field[<%= f.id %>]" value="<%= e %>"/><%= e %>
          <% end %>
        <% end %>
      <% elsif f.form_type == 'checkbox' %>
        <% elements.each do |e| %>
          <% if /^\*/ =~ e %>
            <% e = e.sub(/^\*/, "") %>
            <input type='checkbox' name="field[<%= f.id %>][]" value="<%= e %>" checked/><%= e %>
          <% else %>
            <input type='checkbox' name="field[<%= f.id %>][]" value="<%= e %>" /><%= e %>
          <% end %>
        <% end %>
      <% elsif f.form_type == 'date' %>
        <input id="<%= f.id %>" class='cal_print' type="text" name="field[<%= f.id %>]" />
      <% elsif f.form_type == 'date-date' %>
        <input id="<%= f.id %>-0" class='cal_print' type="text" name="field[<%= f.id %>][]" />
        〜
        <input id="<%= f.id %>-1" class='cal_print' type="text" name="field[<%= f.id %>][]" />
      <% elsif f.form_type == 'hour' %>
        <select name="field[<%= f.id %>]">
          <% 24.times do |i| %><option value="<%= i %>:00"><%= i %>:00</option><% end %>
        </select>
      <% elsif f.form_type == 'hour-hour' %>
        <select name="field[<%= f.id %>][]">
          <% 24.times do |i| %><option value="<%= i %>:00"><%= i %>:00</option><% end %>
        </select>〜
        <select name="field[<%= f.id %>][]">
          <% 24.times do |i| %><option value="<%= i %>:00"><%= i %>:00</option><% end %>
        </select>
      <% elsif f.form_type == 'birthday' %>
        <select name="field[<%= f.id %>][]">
          <% (1..12).each do |i| %><option value="<%= i %>"><%= i %></option><% end %>
        </select>月
        <select name="field[<%= f.id %>][]">
          <% (1..31).each do |i| %><option value="<%= i %>"><%= i %></option><% end %>
        </select>日
      <% end %>
    </div>
    <div id="field_icon"></div>
  </div>
  <br />
  <br />
<% end %>

<div id="dialog" title="日付をクリックしてください。" style="display : none;">
  <div id='field_id' style="display : none;"></div>
  <div id='cal_month' style="display : none;"></div>
  <div id='cal'></div>
</div>
