<%
  y = @schedule.loop_limit.year
  m = @schedule.loop_limit.month
  d = @schedule.loop_limit.day
  limit_start_year = y
  limit_start_month = m
  limit = y.to_s + "/" + m.to_s + "/" + d.to_s
%>

<script type="text/javascript">
<!--

  $(document).ready(function(){
    $("#text1").click(function(){ 
      open_cal("<%= limit_start_year %>", "<%= limit_start_month-1 %>"); 
      $("#radio2").val(['on'])
      $("#cal_print").val("<%= limit %>");
    });
    $("#radio1").click(function(){ close_cal(); });
    $("#radio2").click(function(){ 
      open_cal("<%= limit_start_year %>", "<%= limit_start_month-1 %>"); 
      $("#cal_print").val("<%= limit %>");
    });
  });

//-->
</script>

<p>くり返しの終了日時</p>

<p>
  <% if @schedule && @schedule.loop_limit %>
    <input id='radio1' type='radio' name='limit_fg' value='off' />なし
    &nbsp;
    <input id='radio2' type='radio' name='limit_fg' value='on' checked/>あり
  <% else %>
    <input id='radio1' type='radio' name='limit_fg' value='off' checked/>なし
    &nbsp;
    <input id='radio2' type='radio' name='limit_fg' value='on'/>あり
  <% end %>
</p>

<div id="text1">
  <input type='text' id='cal_print' class='cal_print' value="<%= limit %>" disabled />
</div>

<input type='hidden' name='loop_type' value='<%= type %>' />
<input type='hidden' name='loop[loop_limit]' value='<%= limit %>'/>
