<h2>Hello! <%= @user.email %></h2>
<div>
  <%= form_for @user, :url => register_path do |f| %>
    <table>
      <tr>
        <td>名前</td>
        <td><%= f.text_field :name, :size => '60' %></td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td><%= f.password_field :password, :size => '60' %></td>
      </tr>
      <tr>
        <td>パスワード（確認用）</td>
        <td><%= f.password_field :password_confirmation, :size => '60' %></td>
      </tr>
      <tr>
      <td colspan="2" align="center">
        <%= f.submit %>
      </td>
    </table>
    <%= f.hidden_field :email %>
  <% end %>
</div>
