<section>
<h2>会員登録</h2>
<div class="entry">
<% if flash[:error] %>
<div id="error_explanation">
  <ul>
    <li><span class="red"><%= flash[:error] %></span></li>
  </ul>
<% end %>
  <p>先ほど登録したパスワードをもう一度入力してください</p>
  <%= form_for :user, :url => register_path do |f| %>
    <table>
      <tr>
        <td>ログインパスワード</td>
        <td><%= f.password_field :password, :size => '16', :required => true %></td>
        <td>半角英数で6文字以上</td>
      </tr>
    </table>
    <%= hidden_field_tag :code, @token.code %>
    <%#= f.hidden_field :email %>
    <br />
    <center><%= f.submit '登録' %></center>
  <% end %>
</div>
</section>
